{project_plugins, [rebar3_hex, rebar3_ex_doc, rebar3_codecov, rebar3_format, erlfmt]}.
{erl_opts, [debug_info]}.
{deps, [thoas]}.

{format, [
    {files, [
        "src/*.{erl,hrl,app.src}",
        "rebar.config"
    ]},
    {ignore, ["{apps,src}/**/src/proto/*.erl"]},
    {formatter, erlfmt_formatter}
]}.

{ct_readable, true}.
{cover_enabled, true}.
{cover_excl_mods, [pactffi_nif]}.

{pre_hooks, [
    {"(linux|darwin|solaris)", compile, "make --no-print-directory -C c_src"},
    {"(freebsd)", compile, "gmake -C c_src"}
]}.
{post_hooks, [
    {"(linux|darwin|solaris)", clean, "make --no-print-directory -C c_src clean"},
    {"(freebsd)", clean, "gmake -C c_src clean"}
]}.
{provider_hooks, [{post, [{ct, {codecov, analyze}}]}]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_function_calls,
    deprecated_functions
]}.

{ex_doc, [
    {source_url, <<"https://github.com/greyorange-labs/pact-erlang">>},
    {homepage_url, <<"https://hexdocs.pm/pact_erlang">>},
    {extras, [<<"README.md">>, <<"CHANGELOG.md">>, <<"LICENSE">>]},
    {main, <<"readme">>},
    {prefix_ref_vsn_with_v, false},
    {api_reference, false}
]}.

{hex, [{doc, ex_doc}]}.
